[package]
name = "inference"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
chess = { workspace = true }
ndarray = { workspace = true }
ort = { workspace = true, features = ["xnnpack"] }
